.carousel{
  height: 60vh;
  
} 
/* .carousel .slide img{
  height:60vh;
}  */

*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
  max-width: 100%;
}
/* body{
  background-color:#eee;
} */
#select{
  border-width: 15px;
  border-style: solid;
  border-color: #f13ab1;
  color:#f13ab1
}
#card:hover #image {
  display: none;
}
#image2{
  display: none;
}

#card:hover #image2 {
  display: block;
}
#show{
  display:none;
}
@media only screen and (max-width:600px){
 
  #hide{
    display: none;
  }
  #show{
    display:block;
  }
  #hideGridList{
    
    display:'none'
  }
}

.pagination:visited{
color: red;
}
